<div id="<%= dom_id field %>">
  <p>
    <strong>Value:</strong>
    <%= field.value %>
  </p>

  <p>
    <strong>Submission:</strong>
    <%= field.submission_id %>
  </p>

  <p>
    <strong>Field type:</strong>
    <%= field.field_type_id %>
  </p>

</div>
