<div class="col-span-12">
  <label for="value" class="block text-sm font-medium text-gray-700"><%= record_field.object.name %></label>
  <%= record_field.text_field :value, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
</div>