<div id="<%= dom_id field_type %>">
  <p>
    <strong>Name:</strong>
    <%= field_type.name %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= field_type.kind %>
  </p>

  <p>
    <strong>Template:</strong>
    <%= field_type.template_id %>
  </p>

</div>
