<h1>Editing field type</h1>

<%= render "form", field_type: @field_type %>

<br>

<div>
  <%= link_to "Show this field type", @field_type %> |
  <%= link_to "Back to field types", field_types_path %>
</div>
